/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Header Section */
/* General Header Styling */
header {
  background: white;
  height: 80px; /* Fixed height for the header */
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 0 1rem;
  box-shadow: 0px 0px 10px 2px gray;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4em;
  margin: 0 auto;
  width: 100%; /* Ensure container takes full width */
}

header .logo {
  height: 150px; /* Adjust the height as needed */
  width: auto; /* Ensure the width adjusts proportionally */
}

header h1 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  color: #eeaa34;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

header nav ul li {
  margin: 0;
}

header nav ul li a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}

header nav ul li a:hover,
header nav ul li a.active {
  background: #eeaa34; /* Orange hover background */
  color: #231e34;
  border-radius: 5px;
}

/* Hamburger Button */
/* Hamburger Button */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 40px; /* Increase width to ensure visibility */
  height: 40px; /* Increase height to ensure visibility */
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10; /* Ensure it's above the nav */
}

.hamburger span {
  display: block;
  width: 30px; /* Set width */
  height: 3px;
  background: black;
  border-radius: 5px;
  transition: all 0.3s linear;
  position: absolute; /* Position spans absolutely within the hamburger */
}

/* Default position of spans */
.hamburger span:nth-child(1) {
  top: 10px; /* Position top span */
}

.hamburger span:nth-child(2) {
  top: 18px; /* Position middle span */
}

.hamburger span:nth-child(3) {
  top: 26px; /* Position bottom span */
}

/* Change to "X" */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 18px; /* Center the top span */
}

.hamburger.active span:nth-child(2) {
  opacity: 0; /* Hide the middle span */
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px; /* Center the bottom span */
}

/* Mobile Navigation */
@media (max-width: 768px) {
  header .container {
    justify-content: center;
  }

  .logo {
    margin: 0 auto;
  }

  .hamburger {
    display: flex;
    position: absolute;
    left: 1rem;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%; /* Adjust this value to control how much of the screen it covers */
    max-width: 300px; /* Optional: Maximum width for the menu */
    background: white;
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen */
    height: 100vh; /* Full height */
    transition: left 0.3s ease-in-out; /* Slide in transition */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  .nav-wrapper.active {
    left: 0; /* Slide in */
  }

  .nav-wrapper nav ul {
    flex-direction: column;
    width: 100%;
    margin-top: 80px; /* Adjust for header height */
  }

  .nav-wrapper nav ul li {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }

  .nav-wrapper nav ul li a {
    width: 100%;
    padding: 1rem;
  }
}

/* Hero Section */
.hero {
  text-align: center;
  width: 100%;
  padding-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.547), #bf79005b),
    url("https://images.unsplash.com/photo-1718894070052-c7ec7c536ac1?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.hero h2 {
  text-shadow: 0px 0px 1px black;
  font-size: clamp(2em, 3rem, 3vw);
  animation: fadeInDown 1s;
}

.hero p {
  font-size: 1rem;
  padding-bottom: 5em;
  width: 90%;
  margin-bottom: 5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: fadeInUp 1s;
}

/* Image Grid in Hero Section */
.image-grid {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: -10%;
  gap: 1em;
}

.image-grid img {
  width: clamp(200px, 31%, 500px);
  height: clamp(150px, 15rem, 20vw);
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.274);
}

@media (max-width: 700px) {
  .image-grid img:nth-child(2){
    display: none;
  }
}

@media (max-width: 400px) {
  .image-grid img:nth-child(1) {
    display: none;
  }
}

/* Properties Section */
.properties {
  margin-top: 8em;
  padding: 2rem 0;
  background-color: #f5f5f5;
  font-family: 'Arial, sans-serif';
}

.properties .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.properties h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.property {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(45% - 2rem);
  max-width: 550px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.property img {
  width: 100%;
  height: auto;
}

.property-info {
  padding: 1rem 1.5rem;
  text-align: center;
}

.property-info h3 {
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.property-info p {
  font-size: 1.125rem;
  color: #777;
}

.property:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .property {
      flex: 1 1 100%;
  }
}

/* Individual Property Card */
.property {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.property:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.property img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #eeaa34;
}

.property-info {
  padding: 1rem;
  background: #f9f9f9;
}

.property-info h3 {
  margin: 0.5rem 0;
  color: #231e34;
}

.property-info p {
  margin: 0.5rem 0 1rem;
  color: #666;
}

/* About and Contact Sections */
.about,
.contact {
  padding: 2rem 0;
  text-align: center;
}

.about .container,
.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2,
.contact h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #231e34;
}

.about p,
.contact p {
  max-width: 600px;
  margin-bottom: 1.5rem;
  color: #666;
}

/* About Content and Mission Content */
.about-content,
.mission-content {
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-content:hover,
.mission-content:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-content img,
.mission-content img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-right: 2rem;
}

.about-content p,
.mission-content p {
  flex: 1;
  color: #231e34;
  text-align: left;
}

/* Team Section */
.testimonials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.testimonial {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial iframe {
  width: 100%;
  height: 300px;
}

.testimonial h3 {
  margin: 0.5rem 0;
  color: #231e34;
}

.testimonial p {
  margin: 0.5rem 0 1rem;
  color: #666;
}


/* Footer Section */
#footer {
  color: #444444;
  font-size: 14px;
  background: #f6f4f4;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ea6981;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #e43c5c;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #f7c2cc;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 15px;
  padding: 0 22px;
  background: #e43c5c;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #d01d3f;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

.social-links .social {
  font-size: 18px;
  display: inline-block;
  background: #e43c5c;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  text-decoration: none;
}


/* Contact Us Section Styles */
.contact form .form-group {
  margin-bottom: 1.5rem;
  position: relative;
  text-align: left; /* Ensure labels are aligned properly */
}

.contact form .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #231e34;
}

.contact form .form-group input,
.contact form .form-group textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.contact form .form-group textarea {
  height: 150px;
}

.contact form button {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #231e34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact form button:hover {
  background-color: #eeaa34;
}

/* Animation for form elements */
.contact form .form-group input:focus,
.contact form .form-group textarea:focus {
  outline: none;
  border-color: #eeaa34;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .property-list {
    flex-direction: column;
    align-items: center;
  }

  .team {
    flex-direction: column;
    align-items: center;
  }

  .about-content,
  .mission-content {
    flex-direction: column;
    text-align: center;
  }

  .about-content img,
  .mission-content img {
    width: 100%;
    margin: 0 0 1rem;
  }

  .about-content p,
  .mission-content p {
    text-align: center;
  }
}

/* Slideshow Section */
.slideshow-container {
  position: relative;
  width: 31%; /* Adjust as needed */
  display: inline-block;
  overflow: hidden;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
/*logistics part*/
#logistics .row {
  display: flex;
  flex-wrap: wrap;
}

#logistics .col-md-6 {
  flex: 1;
  padding: 10px;
}

#logistics .logistics-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

#logistics .logistics-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center align content */
  padding: 20px;
}

#logistics .text-center-sm {
  text-align: center;
}

#logistics .btn-custom {
  background-color: #fff; /* White background */
  color: #ff5722; /* Text color */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #ff5722; /* Add border to keep the shape */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

#logistics .btn-custom:hover {
  background-color: #ff5722; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

#logistics .text-center-sm img:first-child {
  margin-right: 20px; /* Add margin to separate the two images */
}

#logistics .logistics-content img {
  margin-top: 20px; /* Add margin to separate images from the button */
}

@media (max-width: 768px) {
  #logistics .row {
    flex-direction: column;
  }
  
  #logistics .col-md-6 {
    max-width: 100%;
  }

  #logistics .logistics-content {
    padding: 10px; /* Reduce padding on smaller screens */
  }

  #logistics .btn-custom {
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }
}

/*about section*/
.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title h3 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.section-title h3 span {
  color: #e43c5c;
}

.section-title p {
  font-size: 18px;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
}
/* Portfolio Section */
.portfolio {
  background-color: #0A1229;
  padding: 50px 20px;
  width: 100vw; /* Ensure full viewport width */
  margin-left: calc(-50vw + 50%); /* Center the section */
  box-sizing: border-box; /* Include padding in the element's width and height */
}

.portfolio .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px; /* Add some padding to the sides */
}

.portfolio .section-title {
  text-align: center;
  margin-bottom: 40px;
}

.portfolio .text-white {
  color: #ffffff;
}

.portfolio input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.portfolio button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-left: 3px;
  font-weight: 600;
  cursor: pointer;
}

.portfolio a {
  color: #ff0000; /* Adjust the color as needed */
}
/* Hamburger Button Active State */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
}
